@import 'mixins/mixins';

@include b(ct) {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include e(pagination) {
    width: 100%;
    margin-top: 20px;
    text-align: right;
  }
}
